---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">
        
    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}
        
    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">
    
    <div class="section-title">
        
        <h2><span>All Stories</span></h2>
        
    </div>
    
    <div class="row listrecent">

        {% for post in paginator.posts %}

               {% include postbox.html %}          

        {% endfor %}
        
    </div>
    
</section>
  <!-- Search form -->
  <form method="get" action="/search" data-search-form>
    <input type="search" name="q" id="q" placeholder="Search My Blog" data-search-input />
    <input type="submit" value="Search" />
  </form>

  <!-- Search results placeholder -->
  <p data-search-found>
    <span data-search-found-count></span> result(s) found for &ldquo;<span data-search-found-term></span>&rdquo;.
  </p>
  <div data-search-results></div>

  <!-- Search result template -->
  <script type="text/x-template" id="search-result">
    <div>
      <h1><a href="##Url##">##Title##</a></h1>
      <h2><a href="##Url##">##Date##</a></h2>
      <a href="##Url##">Read &ldquo;##Title##&rdquo;</a>
    </div>
  </script>

  <!-- jQuery - required but can be moved to the <head> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Search script - Must appear after template -->
  <script src="/assets/js/search.js"></script>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<div class="pointerup"><i class="fa fa-caret-up"></i></div>
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

